/* * {
  border: 1px solid red;
} */

body {
  font-family: "JetBrains Mono", monospace;
  /* font-family: "Montserrat", sans-serif; */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 16px;
  font-weight: 600;
}

p {
  font-family: "Montserrat", sans-serif;
}
.pbig {
  font-size: 18px;
  font-weight: 600;
}

nav a {
  font-size: 18px !important;
}

nav .number {
  font-size: 12px;
  font-weight: 600;
  color: #747474;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.nav-link:hover .number {
  visibility: visible;
  opacity: 1;
}

.bg-code {
  color: #c6c6c6;
}

.work-link {
  text-decoration: none;
}

.about {
  height: 1080px;
  margin: 0;
  padding: 0;
  margin-top: 135px;
  background-color: #e9e9e9;
}

.section-number {
  font-size: 18px !important;
  color: #747474;
}

.projects-item {
  margin: 125px 0;
}

.contact {
  height: 955px;
  background-color: #e9e9e9;
  margin: 0;
  padding: 0;
}

.skill {
  margin: 120px 0;
}

footer {
  background-color: #c6c6c6;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 10px;
    font-weight: 600;
  }

  p {
    font-size: 10px;
  }
  .pbig {
    font-size: 12px;
    font-weight: 600;
  }
}
