.leader {
    &-container {
        width: 90%;
        margin: auto;
    }

    &-header {
        margin-bottom: 2rem;

        h2 {
            &::after {
                content: '';
                height: 2px;
                width: 25%;
                margin-top: 1rem;
                display: block;
                background-color: $primary;
            }

        }
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1rem;
    }

    &-box {
        flex: 1;
        flex-basis: 18%;
        margin-bottom: 2rem;
        text-align: center;

        img {
            width: 100%;
            border-radius: .5rem;
        }

        h5 {
            margin-top: 1rem;
            margin-bottom: .5rem;
        }
    }

    &-footer {
        text-align: center;
        margin-top: 2rem;
    }
}